<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    
    <!-- Documentazione API: https://ckeditor.com/docs/ckeditor5/latest/api/index.html
    <script src="https://cdn.ckeditor.com/ckeditor5/15.0.0/classic/ckeditor.js"></script> -->

    <style>
      #editors-container textarea {
        margin-top: 20px;
        margin-bottom: 20px;
        width: 100%;
      }
    </style>

    <script>

import ClassicEditorBase from '@ckeditor/ckeditor5-editor-classic/src/classiceditor';
import EssentialsPlugin from '@ckeditor/ckeditor5-essentials/src/essentials';
import UploadAdapterPlugin from '@ckeditor/ckeditor5-adapter-ckfinder/src/uploadadapter';
import AutoformatPlugin from '@ckeditor/ckeditor5-autoformat/src/autoformat';
import BoldPlugin from '@ckeditor/ckeditor5-basic-styles/src/bold';
import ItalicPlugin from '@ckeditor/ckeditor5-basic-styles/src/italic';
import BlockQuotePlugin from '@ckeditor/ckeditor5-block-quote/src/blockquote';
import EasyImagePlugin from '@ckeditor/ckeditor5-easy-image/src/easyimage';
import HeadingPlugin from '@ckeditor/ckeditor5-heading/src/heading';
import ImagePlugin from '@ckeditor/ckeditor5-image/src/image';
import ImageCaptionPlugin from '@ckeditor/ckeditor5-image/src/imagecaption';
import ImageStylePlugin from '@ckeditor/ckeditor5-image/src/imagestyle';
import ImageToolbarPlugin from '@ckeditor/ckeditor5-image/src/imagetoolbar';
import ImageUploadPlugin from '@ckeditor/ckeditor5-image/src/imageupload';
import LinkPlugin from '@ckeditor/ckeditor5-link/src/link';
import ListPlugin from '@ckeditor/ckeditor5-list/src/list';
import ParagraphPlugin from '@ckeditor/ckeditor5-paragraph/src/paragraph';

export default class ClassicEditor extends ClassicEditorBase {}

ClassicEditor.builtinPlugins = [
    EssentialsPlugin,
    UploadAdapterPlugin,
    AutoformatPlugin,
    BoldPlugin,
    ItalicPlugin,
    BlockQuotePlugin,
    EasyImagePlugin,
    HeadingPlugin,
    ImagePlugin,
    ImageCaptionPlugin,
    ImageStylePlugin,
    ImageToolbarPlugin,
    ImageUploadPlugin,
    LinkPlugin,
    ListPlugin,
    ParagraphPlugin
];

ClassicEditor.defaultConfig = {
    toolbar: {
        items: [
            'heading',
            '|',
            'bold',
            'italic',
            'link',
            'bulletedList',
            'numberedList',
            'imageUpload',
            'blockQuote',
            'undo',
            'redo'
        ]
    },
    image: {
        toolbar: [
            'imageStyle:full',
            'imageStyle:side',
            '|',
            'imageTextAlternative'
        ]
    },
    language: 'it'
};

      console.log(<%- JSON.stringify(device_list) %>);

      var device_list = <%- JSON.stringify(device_list) %>; 
      var selected_device_index = null;
      var editors_data = new Array();

      function getDeviceIndex(id) {
          for (let i = 0; i < device_list.length; i++) {
              if (device_list[i].id == id) {
                  return i;
              }
          }
          return null;
      }

      function formatDate(datetime) {
        var year = datetime.getFullYear(),
            month = datetime.getMonth() + 1, // months are zero indexed
            day = datetime.getDate(),
            hour = datetime.getHours(),
            minute = datetime.getMinutes();
        return day+'-'+month+'-'+year+' '+hour+':'+minute;
      }

      function formatTimestamp(timestamp) {
        var datetime = new Date(timestamp*1000);
        var year = datetime.getFullYear(),
            month = datetime.getMonth() + 1, // months are zero indexed
            day = datetime.getDate(),
            hour = datetime.getHours(),
            minute = datetime.getMinutes();
        return day+'-'+month+'-'+year+' '+hour+':'+minute;
      }
        


      String.prototype.replaceAll = function(search, replacement) {
        var target = this;
        return target.split(search).join(replacement);
      };

      function createEditors() {
        var editors = [];
        editors_data = new Array;
        var i = 0;
        $("textarea[name=content]").each(function() {
          //alert(this.id);
          var textarea_id = this.id;
          
          var temp_editor = ClassicEditor
            .create(document.querySelector('#'+this.id), {
              fontFamily: {
                options: [
                  'default',
                  'Ubuntu, Arial, sans-serif', 
                  'Ubuntu Mono, Courier New, Courier, monospace'
                ]
              },
              toolbar: [ 'heading', '|', 'bold', 'italic', '|', 'bulletedList', 'numberedList', '|', 'fontFamily', 'fontColor', 'undo', 'redo' ],
            })
            .then(temp_editor => {
              function display_text() {
                var data = temp_editor.getData();
                
                //data = data.replace('&', '&amp;').replace('<', '&lt;').replace('>', '&gt;');
                data = data.replaceAll("&nbsp;", " ");
                $("#result").text(data);
              }
      
              temp_editor.model.document.on('change:data', () => {
                //display_text();
              });
      
              $("#btnSalva").click(function() { 
                //display_text();
                //console.log(temp_editor.getData());
                editors_data[textarea_id] = temp_editor.getData();
                //return false;
              });
            })
            .catch(error => {
              console.error(error);
            });
            editors[textarea_id] = temp_editor;
            i++;
        });        
        return editors;
      }


      function displayDeviceStatus(pmv_id) {
        $.ajax({
          url: '/pmv/'+pmv_id,
          dataType: 'application/json',
          complete: function(data) {
            response = JSON.parse(data.responseText);
            
            if (!response.hasOwnProperty("error")) {
              device = response;
              console.log(device);
              var html_status = "";

              var device_status = device.status;
              if (device_status == undefined)
                device_status = "-";
              
              var style = "";
              if (device_status == "active")
                style = "color: green;";
              if (device_status == "idle")
                style = "color: orange;";
              if (device_status == "stale")
                style = "color: red;";

              html_status += "<p><b>Stato:</b> <span style='"+style+"'>\"" + device_status + "\"</span></p>";

              html_status += "<p><b>Contenuto visualizzato:</b>";
              html_status += "<ul>";
              html_status += "<li>ID: "+device.content.id+"</li>";

              var content_status = device.content.status;
              if (content_status == undefined)
                content_status = "-";
              var style = "";
              if (content_status == "displayed")
                style = "color: green;";
              if (content_status == "expired")
                style = "color: red;";
                
              html_status += "<li>Stato: <span style='"+style+"'>\""+content_status+"\"</span></li>";
              html_status += "<li>Tipo: "+device.content.type+"</li>";
              if (device.content.type == "multiple-message") {
                html_status += "<li>Intervallo: "+device.content.rolling_interval+"</li>";
              }
              html_status += "<li>Creato il: "+formatTimestamp(device.content.timestamp_creation)+"</li>";
              html_status += "<li>Modificato il: "+formatTimestamp(device.content.timestamp_last_update)+"</li>";
              html_status += "<li>Scade il: "+formatTimestamp(device.content.timestamp_expiration)+"</li>";

              if (device.content.type == "single-message") {
                html_status += "<li>Messaggio: <br /><pre><code id='msg'> </code></pre></li>";
              }
              else if (device.content.type == "multiple-message") {
                html_status += "<li>Messaggi: <br />";
                html_status += "<ol>";
                device.content.bodies.forEach((m, i) => {
                  html_status += "<li><pre><code id='msg-"+i+"'> </code></pre></li>";
                });  
                html_status += "</ol>";
              }

              html_status += "</ul>";

              $("#device-status").html(html_status);

              if (device.content.type == "single-message") {
                $("#msg").text(device.content.body.replace('</p>', '</p>\n').replaceAll("&nbsp;", " "));
              }
              else if (device.content.type == "multiple-message") {
                device.content.bodies.forEach((m, i) => {
                  $("#msg-"+i).text(m.replace('</p>', '</p>\n').replaceAll("&nbsp;", " "));
                });  
              }
            }
            else {
              console.log("Errore nella richiesta per ottenere il contenuto: \n" + response["error"]);
            }
          },
          success: function(data) {
          }
        });
      }

      $(document).ready(function() {

        setInterval(function() {
          if (selected_device_index != null) {
            displayDeviceStatus(device_list[selected_device_index].id);
          }
        }, 5000);

        $("#inputDispositivo").change(function() {
          
          var index_device = getDeviceIndex($("#inputDispositivo").val());
          if (index_device != null) {
            console.log(device_list[index_device]);

            displayDeviceStatus(device_list[index_device].id);
        
            var timestamp_expiration = device_list[index_device].content.timestamp_expiration;
            if (timestamp_expiration != null && timestamp_expiration > 0) {
              console.log(timestamp_expiration);
              var datetime = new Date(timestamp_expiration*1000);
              $("#inputScadenzaContenuto").val(formatDate(datetime));
            }
            
            

            if (device_list[index_device].content.type == "single-message") {
              $("#tipoContenuto-sm").prop('checked', true);
              $("#tipoContenuto-mm").prop('checked', false);

              $("#inputIntervallo").prop('disabled', true);

              $("#editors-container").html('<textarea name="content" id="editorContenuto-0">'+device_list[index_device].content.body+'</textarea>');
            }
            else {
              $("#tipoContenuto-sm").prop('checked', false);
              $("#tipoContenuto-mm").prop('checked', true);

              $("#inputIntervallo").prop('disabled', false);
              $("#inputIntervallo").val(device_list[index_device].content.rolling_interval);

              var html = "";
              device_list[index_device].content.bodies.forEach((body, index) => { 
                html += '<textarea name="content" id="editorContenuto-'+index+'">'+ body +'</textarea> <br />';
              }); 
              $("#editors-container").html(html);
            }

            editors = createEditors();  // Creo i CKEditor in base alle text area appena introdotte/aggiornate
          }

          selected_device_index = index_device;
        });


        $('input[name=tipoContenuto]').change(function() {
          var selValue = $('input[name=tipoContenuto]:checked').val(); 
          if (selValue == 'single-message') {
            $("#inputIntervallo").prop('disabled', true);
            
            /*$(".ck:not(:first)").each(function() {
              $(this).css('visibility', 'hidden');
            });*/
            var html = "";
            body = "";

            if (device_list[selected_device_index].content.type == 'multiple-message') 
              body = device_list[selected_device_index].content.bodies[0];
            else 
              body = device_list[selected_device_index].content.body;
            
            html += '<textarea name="content" id="editorContenuto-0">'+ body +'</textarea> <br />';
            $("#editors-container").html(html);
            editors = createEditors();
          }
          else if (selValue == 'multiple-message') {
            $("#inputIntervallo").prop('disabled', false);
            
            /*$(".ck").each(function() {
              $(this).css('visibility', 'visible');
            });*/
            var html = "";
            if (device_list[selected_device_index].content.type == 'multiple-message') {
              device_list[selected_device_index].content.bodies.forEach((body, index) => { 
                html += '<textarea name="content" id="editorContenuto-'+index+'">'+ body +'</textarea> <br />';
              }); 
              if (device_list[selected_device_index].content.bodies.lenght < 3) {
                for (i=device_list[selected_device_index].content.bodies.length; i<3; i++) 
                  html += '<textarea name="content" id="editorContenuto-'+i+'">'+ ' ' +'</textarea> <br />';
              }
            }
            else {
              html += '<textarea name="content" id="editorContenuto-0">'+ device_list[selected_device_index].content.body +'</textarea> <br />';
              for (i=1; i<3; i++) 
                  html += '<textarea name="content" id="editorContenuto-'+i+'">'+ ' ' +'</textarea> <br />';
            }
            $("#editors-container").html(html);
            editors = createEditors();
          }
        });


        $("#btnSalva").click(function() { 
          setTimeout(function() {
            console.log(editors_data);
            
            bodies = []
            for (var id in editors_data) {
              console.log(id + ' - ' + editors_data[id]);
              bodies.push(editors_data[id]);
            }

            var pmv_id = device_list[selected_device_index].id;
            var tipoContenuto = $('input[name=tipoContenuto]:checked').val();

            if ($("#inputScadenzaContenuto").val() != undefined && $("#inputScadenzaContenuto").val() != "") {
              var new_expiration = $("#inputScadenzaContenuto").val();
              var date = new_expiration.split(" ")[0];
              var time = new_expiration.split(" ")[1];
              dateParts = date.split("-");
              timeParts = time.split(":");

              var dateObject = new Date(+dateParts[2], dateParts[1]-1, +dateParts[0], +timeParts[0], +timeParts[1]); 
              console.log("New expiration datetime: ");
              console.log(dateObject);

              device_list[selected_device_index].content.timestamp_expiration = Math.round(dateObject.getTime()/1000);
            }
            

            if (tipoContenuto == "single-message") {
              pmv_data = {
                id: pmv_id,
                content: {
                  id: device_list[selected_device_index].content.id,
                  type: tipoContenuto,
                  timestamp_creation: device_list[selected_device_index].content.timestamp_creation,       
                  timestamp_expiration: device_list[selected_device_index].content.timestamp_expiration, 
                  timestamp_last_update: Math.round(Date.now()/1000),     
                  body: bodies[0],
                }
              }
            }
            else if (tipoContenuto == "multiple-message") {
              pmv_data = {
                id: pmv_id,
                content: {
                  id: device_list[selected_device_index].content.id,
                  type: tipoContenuto,
                  timestamp_creation: device_list[selected_device_index].content.timestamp_creation,       
                  timestamp_expiration: device_list[selected_device_index].content.timestamp_expiration, 
                  timestamp_last_update: Math.round(Date.now()/1000),     
                  bodies: bodies,
                  rolling_interval: $("#inputIntervallo").val() 
                }
              }
            }
            
            console.log(pmv_data);

            $.ajax({
              type: "PUT",
              url: '/pmv/'+pmv_id, 
              contentType: "application/json",
              data: JSON.stringify(pmv_data),
              complete: function(data) {
                console.log("Response to \"PUT /pmv/"+pmv_id+"\": ");
                console.log(JSON.parse(data.responseText));
              }
            });
          }, 500);

          if (selected_device_index != null) {
            setTimeout(function() {
              displayDeviceStatus(device_list[selected_device_index].id);
            }, 1000);
          }
          
          return false;
        });
      });
    </script>
  </head>
  <body>
    <h1><%= title %></h1>
    <div class="row">
      <div class="col-md-6">
        <form">
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputDispositivo">Dispositivo</label>
              <select id="inputDispositivo" class="form-control">
                <option selected value="">&lt;Scegli un dispositivo&gt;</option>
                <% device_list.forEach(function(device) { %>
                  <option value="<%= device.id %>"><%= device.id %></option>
                <% }); %>
              </select>
            </div>
          </div>
            
          <div class="form-row">
            <fieldset class="form-group">
              <div class="row">
                <legend class="col-form-label col-sm-2 pt-0">Contenuto:</legend> <br />
                <div class="col-sm-10">
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="tipoContenuto" id="tipoContenuto-sm" value="single-message" checked>
                    <label class="form-check-label" for="single-message">
                      Messaggio Singolo
                    </label>
                  </div>
                  <div class="form-check-inline">
                    <input class="form-check-input" type="radio" name="tipoContenuto" id="tipoContenuto-mm" value="multiple-message">
                    <label class="form-check-label" for="multiple-message">
                      Messaggio Multiplo
                    </label>
                  </div>
                  <div class="form-check-inline">
                    <label for="inputIntervallo">Intervallo(s)</label>
                    <select id="inputIntervallo" class="form-control">
                      <option selected value="5">5</option>
                      <option value="10">10</option>
                      <option value="15">15</option>
                      <option value="20">20</option>
                      <option value="25">25</option>
                      <option value="30">30</option>
                    </select>
                  </div>
                </div>
              </div>
            </fieldset>
          </div>

          <div class="form-row">
            <div class='col-sm-6'>
              <div class="form-group">
                  <div class="input-group date">
                      <label for="inputScadenzaContenuto">Scade il: </label>
                      <input type="text" class="form-control" value="" id="inputScadenzaContenuto"> <!-- 17-12-2019 12:00 -->
                      <div class="input-group-addon">
                          <span class="glyphicon glyphicon-th"></span>
                      </div>
                  </div>
              </div>
            </div>
          </div>

          <div class="form-row" id="editors-container">
            
          </div>
          <div class="form-row">
            <button class="btn btn-primary" id="btnSalva">Salva</button>
          </div>
        </form>
      </div>

      <div class="col-md-6">
        <h2>Stato</h2>
        <div id="device-status">

        </div>
      </div>
    </div>
      
    <pre><code id="result"></code></pre>
    <script>
      
  
      /*var editor1 = ClassicEditor
        .create(document.querySelector('#editorContenuto1'), {
          fontFamily: {
            options: [
              'default',
              'Ubuntu, Arial, sans-serif', 
              'Ubuntu Mono, Courier New, Courier, monospace'
            ]
          },
          toolbar: [ 'heading', '|', 'bold', 'italic', '|', 'bulletedList', 'numberedList', '|', 'fontFamily', 'fontColor', 'undo', 'redo' ],
        })
        .then(editor1 => {
          function display_text() {
            var data = editor1.getData();
            
            //data = data.replace('&', '&amp;').replace('<', '&lt;').replace('>', '&gt;');
            data = data.replaceAll("&nbsp;", " ");
            $("#result").text(data);
          }
  
          editor1.model.document.on('change:data', () => {
            //display_text();
          });
  
          $("#btnSalva").click(function() { 
            display_text();
            return false;
          });
        })
        .catch(error => {
          console.error(error);
        });*/
    </script>
      
  </body>
</html>
